<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
    <connectionStrings>
      <add name="QUANLYBANSACHConnectionString" connectionString="Data Source=LAPTOP-L0J0D79V\WIPPOO;Initial Catalog=Net;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>